*/config/development
*/logs/log-*.php
!*/logs/index.html
*/cache/*
!*/cache/index.html
!*/cache/.htaccess

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
base_config/constants.php
base_config/database.php
catelog/config/constants.php
catelog/config/database.php
*.db

.htpasswd
google1a09b07f4280e350.html
.htaccess.phpupgrader.192a3847
.htaccess.phpupgrader.initial
