.mp-box.mp-box-white.notop {
	border-bottom: 1px solid #dddd;
}
.stickytop .main-cat-list > li {
	line-height:24px;
}
.mp-box.mp-box-white {
	background:#fff;
	min-height:40px;
}
.mp-box {
	background:#f7f7f7;
	margin:0 auto;
	position: relative;
}
.mp-box .box-row {
	margin:0 auto;
	position:relative;
	box-sizing:border-box;
}
.main-cat-list.active {
	opacity:1;
}
.main-cat-list {
	display: flex;
    flex-direction: column;
	position: relative;
	opacity:1;
}
.main-cat-list > li {
	color:#333;
	margin-bottom: 1rem;
	position:relative;
}
.main-cat-list > li:last-child{
	margin-bottom:0;
}
.main-cat-list > li > a {
	display: inline-block;
	font-weight: 500;
}
.main-cat-list > li a.active {
	color:var(--siteColor);
}
.main-cat-list > li a {
	color:#333;
}
.main-cat-list > li a:hover {
	text-decoration:none;
}
.main-cat-list > li:hover > a {
	color:var(--siteColor);
}
.main-cat-list > li a > i{
	font-size: 1.125rem;
	vertical-align: text-bottom;
}