.mp-box.mp-box-white.notop {
	border-bottom: 1px solid #dddd;
}
.stickytop .main-cat-list > li {
	line-height:24px;
}
.mp-box.mp-box-white {
	background:#fff;
	min-height:40px;
}
.mp-box {
	background:#f7f7f7;
	position: relative;
}
.mp-box .box-row {
	/*margin:0 -1.3rem;*/
	position:relative;
	box-sizing:border-box;
}
.main-cat-list.active {
	opacity:1;
}
.main-cat-list {
	display: flex;
    flex-direction: column;
	position: relative;
	opacity:1;
}
.main-cat-list > li {
	color:#333;
	margin-bottom: 0.25rem;
	position:relative;
}
.main-cat-list > li:last-child{
	margin-bottom:0;
}
.main-cat-list > li.sub-header{
	margin-bottom:0;
	margin-top:0.5rem;
	padding:0 1.25rem;
}
.main-cat-list > li > a {
	display: block;
	font-weight: 500;
	padding:0.5rem 1rem;
}
.main-cat-list > li a:hover, .main-cat-list > li a.active {
	background-color:var(--siteColor);
	color:#111;
	text-decoration:none;
}
.main-cat-list > li a.active > i{
	color:#111;
}
.main-cat-list > li a, .main-cat-list > li > a:hover i{
	color:#111;
}
.main-cat-list > li a > i{
	color: var(--siteColor);
	font-size: 1.125rem;
    margin-right: 3px;
	vertical-align: text-bottom;
}